.carousel, .carousel-inner, corousel-item {
    height: 500px;
}
.carousel {
    height: 100%;
    object-fit: cover;
}

.explorar-container {
  padding: 20px;
  background-color: #1b2838; 
}

.explorar-title {
  color: #c7d5e0;
  margin-bottom: 15px;
  font-weight: 600;
}

.explorar-botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.explorar-btn {
  background: linear-gradient(90deg, #06bfff, #2d73ff);
  color: white;
  font-weight: 600;
  padding: 15px 30px;  
  min-width: 220px;  
  border-radius: 4px;
  border: none;
  text-align: center;
}

.explorar-btn:hover {
  background: linear-gradient(90deg, #2d73ff, #06bfff);
  color: white;
}