:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.login-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

.login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.input-group input:focus {
    border-color: #2a5298; 
    box-shadow: 0 0 5px rgba(42, 82, 152, 0.5);
    outline: none; 
}

.login-button {
    width: 100%;
    background-color: #0bda15;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

.login-button:hover {
    background-color: #1e3c72;
}

.login-button:active {
    transform: scale(0.99);
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #2a5298;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
    transition: color 0.3s;
}

.links a:hover {
    color: #1e3c72;
    text-decoration: underline;
}
